/* Limpando a página */

* {
	margin: 0;
	padding: 0;
}

/* Formatando o corpo */

body {
	font: 12px "Lucida Grande", "Lucida Sans Unicode", "Arial", sans-serif;
}

/* Definindo largura e centralizando o texto */
#container {
	width: 1080px;
	margin: 0 auto;
}

header{
	text-align: center;
	font-size: 1em;
	padding: 15px 0;
	height: 55px;
	color: #fb474e;
}

/* 
a 			link
a:link		link normal não visitado
a:visited	link que o usuário visitou
a:hover		link quando o usuário passa o mouse
a:active	link no momento em que é clicado
text-decoration: remove o sublinhado do link
*/

a:link, a:active, a:visited{
	color: #af670a;
	text-decoration: none;
}

a:hover{
	color: #227115;
}

#slogan {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}

/* LOGO */
#logo h1 {
	float: left;
}

#logo a {
	width: 248px;
	height: 21px;
	text-indent: -9999px;
	display: block;
	background: url(../imagens/caranguejo_01.jpeg) no-repeat;
}

/* Formatando a Barra de Navegação */

nav ul {
	list-style: none;
	margin: 20px;
	float: center;
}

nav ul li {
	float: left;
}

nav ul li a:link{
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-decoration: uppercase;
}

nav ul li a:hover{
	border-bottom: 1px solid #535858;
}

section {
	font-size: 15px;
	text-align: justify;
}

article{
	padding: 20px;
}

h3{
	text-align: center;
	padding: 2px;
}

footer {
	font-size: 12px;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
	background: white;	
	color: black;
}

#login{
	text-transform: uppercase;
	background: #a29750;
	color: #fff5b0;
	padding: 5px 10px;
	float: right;
}