.normalButton {
    box-shadow: 0px 2px 12px 1px  #9B004A;
    background-color: #ac0249;
    border-radius: 8px;    
    border-style: solid ;
    border-color: #ac0249;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 32px;
    text-decoration: white;
    text-shadow: 0px 1px 0px #471745;
}

.normalButton:hover {
    background-color: #8a003980;
    border-style: solid ;
    border-color: #ac0249;
    color: #ac0249;
    text-decoration: none;
}

.normalButton:active {
    position: relative;
    top: 2px;
}