
header {
    background: linear-gradient(90deg, #ffffff 0%, #ffdcd2 50%, #ffa688 100%);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

footer {
    background: linear-gradient(#ffad96 20%, #fa9370 100%);
}

.footer-fixed {
    position:absolute;
    bottom:0;
    width:100%;
}