
header {
    background: linear-gradient(90deg, #ffffff 0%, #ffdcd2 50%, #ffa688 100%);
}

footer {
    background: linear-gradient(#ffad96 20%, #fa9370 100%);
}

.footer-fixed {
    position:absolute;
    bottom:0;
    width:100%;
}