::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {   
    -webkit-border-radius: 10px;
    border-radius: 15px;
    background: #b84d26;
    box-shadow: inset 0px 0px 10px #d37552;
}