h1 {
    font-family: 'Franklin Gothic Medium';  
    
    background: -webkit-linear-gradient(bottom, #9B004A 40%, #9b0093 60%, #df6dd9 100%);
    background: linear-gradient(top, #9B004A 40%, #9b0093 60%, #df6dd9 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5 {
    font-family: 'Lequire';
}

body {
    background: linear-gradient(45deg,#fff3ee 20%, #ffffff 100%);
}

main {
    background: linear-gradient(45deg, #3d0126 20%, #200220 40%, #42333f 100%);
    margin-left: 200px;
    margin-right: 200px;
}

.titleUX {
    font-family: 'Franklin Gothic Medium';  
    
    background: -webkit-linear-gradient(bottom, #bd0a78 20%, #ac0249 100%);
    background: linear-gradient(top, #bd0a78 20%, #ac0249 100%);

    /*
    background-image: url('media/img/fluid.jpg');
    background-size: contain; */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-colors {
    background: -webkit-linear-gradient(bottom, #bd0a78 20%, #ac0249 100%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phr-n {
    background: -webkit-linear-gradient(bottom,#bd0a78 20%, #ac0249 100%);
    background: linear-gradient(top, #bd0a78 20%, #ac0249 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}