h1 {
    margin-top: 10px;
    font-family: 'Lequire';
    color: black;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Lequire', sans-serif;
    color: black;
}

h1:hover {
    color: #4e4e4e;
}

font:hover {
    color: #ff7d51;
}

body {
    background: linear-gradient(45deg,#fff3ee 20%, #ffffff 100%);
}

main {
    background: linear-gradient(45deg, #ff7d51 20%, #ff9a79 40%, #ffbea9 100%);
    margin-left: 200px;
    margin-right: 200px;
}

p {
    font-family: 'Louis';
}

input {
    font-family: 'Louis';
}

.crab-center {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.cad-center {
    margin: 20px;
    text-align: center;
}

.img-center {
    justify-content: center;
}